h1#site-title {;
    font-size: 72px;
    font-family: papyrus;
    text-align: center
  }

  h1#title {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }
  
  p {
    background: white;
    font-family: lucida handwriting;
    line-height: 1.25;
  }

  p#Cat-description {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: burlywood;
    line-height: 1.25;

  }
  
  figure {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
  }
  
  
  figure img {
    width: 20%;
      height: auto;
  }
  
  ul li a {
    font-weight: bold;
    word-spacing: 5px;
    text-decoration: none;
    color: black
  }

  ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }